body{
    background-color: lightgray;
}

.App{
    text-align: center;

    .App-title{
        font-weight: lighter;
        text-shadow: 0px 0.25px 0.5px gray;
    }
    .tasks-container{
        margin: 0px auto;
        padding:1rem;
        background-color: white;
        max-width: 80vw;
        .task-creation,.tasks{
            padding:0.5rem;

            input[type="text"]{
                width: 85%;
                height: 2rem;
                padding: 0px .75rem;
                outline: none;
                border: 1px solid gray;
                color: gray;
                &:focus{
                    box-shadow: 2px 2px 3px gray,
                                -2px -2px 3px lightgray;
                }
            }
            input[type="button"]{
                background-color: white;
                border: none;
                outline: none;
                width: 5rem;
                height: 2rem;
                margin-left: 1rem;
                color: gray;
                box-shadow: 1px 1px 3px gray,
                            -1px -1px 3px lightgray;
                &:active{
                    color: lightblue;
                }
                
            }
        }
        .tasks{
            max-height: 60vh;
            min-height: 60vh;
            overflow-y: scroll;
            padding-top: 1rem;
            margin-top: 1rem;
            background-color:white;
            /* width */
            &::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background:transparent;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background:lightgray;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background:gray;
            }
            .task{
                padding: 0.5rem;
                border-bottom: 1px solid gray;
                input[type="text"]{
                    width: 75%;
                    border:0px;
                    &:focus{
                        box-shadow: none;
                        border-bottom: 1px solid gray;
                        box-shadow: 0px 1px 2px gray;
                    }
                }
                .edit-btn{
                    margin-left: 0.25rem;
                    width: 4rem;
                }
                .del-btn{
                    background-color: red;
                    color: white;
                    width: 3rem;
                    padding: 3.75px;
                }
                input[type="checkbox"]{
                    margin:0px 0px 0px 1rem;
                }
            }
        }
    }   
}